body {
  padding: 10px;
}

.textinput {
  width: 300px;
}

.labeldiv {
  width: 99%;
  border: 1px red solid;
  position: relative;
  padding: 10px;
  height: 20px;
  margin-bottom: 10px;
}

.labeldiv span {
  position: absolute;
  top: 2px;
  left: 20px;
  right: auto;
}

[dir="rtl"] .labeldiv span {
  right: 20px;
  left: auto;
}
